<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amp="http://activemq.apache.org/schema/core" xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core
       http://activemq.apache.org/schema/core/activemq-core.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--1.创建连接工厂对象-->
    <amp:connectionFactory
            id="connetionFactory"
            brokerURL="tcp://192.168.177.128:61616"
            userName="admin"
            password="admin"
    />
    <!--创建缓存连接工厂-->
    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <!--注入缓存工厂-->
        <property name="targetConnectionFactory" ref="connetionFactory"></property>
        <!--缓存消息数据-->
        <property name="sessionCacheSize" value="5"></property>
    </bean>

    <!--配置监听组件的扫描-->
    <context:component-scan base-package="com.vv.listener">

    </context:component-scan>

    <!--配置监听器（ptp）-->
    <jms:listener-container connection-factory="cachingConnectionFactory" destination-type="queue">
        <jms:listener destination="spring-queue" ref="queueListener"></jms:listener>
    </jms:listener-container>


    <!--配置监听器（topic）-->
    <jms:listener-container connection-factory="cachingConnectionFactory" destination-type="topic">
        <jms:listener destination="spring-queue" ref="topicListener"></jms:listener>

    </jms:listener-container>

</beans>